<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>troplaflemme - automatic note taker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
  <div class="container"><a href="{{ url_for('index') }}" class="navbar-brand">troplaflemme</a></div>
</div>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12" align="center">
      <h1>troplaflemme - automatic note taker</h1>
      <p>troplaflemme is a web app that automatically takes notes for you. Just paste the transcript or upload the audio of the course. When you're done, click submit to see your notes.</p>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h3>Transcribe .mp3/.wav file</h3>
          <form action="{{ url_for('upload_audio') }}" method="POST" enctype="multipart/form-data" onsubmit="showUploading()">
            <input type="file" class="form-control-file" name="audio_file" accept="audio/*" capture>
            <br><br>
            <button type="submit" class="btn btn-primary" id="upload">Transcribe</button>
            <button class="btn btn-primary" type="button" id="uploading" disabled style="display: none;">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Transcribing file ...</button>
          </form>
        </div>
        <div class="col-md-6">
          <h3>Or paste transcription here</h3>
          <form action="{{ url_for('summary') }}" method="POST" onsubmit="showLoadingButton()">
            <textarea id="textInput" class="form-control" type="text" name="transcript" rows=15 placeholder="Paste transcript here">{{ transcription }}</textarea><br>
            <img id="recordButton" src="static/img/record.svg" height="64px" width="64px" style="cursor: pointer;" onclick="toggleRecording()">
            <br><br>
            <button type="submit" class="btn btn-primary" id="submitButton">Get My Notes</button>
            <button class="btn btn-primary" type="button" id="loadingButton" disabled style="display: none;">
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Generating Notes ...</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      {% if summary != "" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AI Generated Notes:</h5>
            <md-block>{{ summary }}</md-block>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/record.js') }}"></script>
</body>
</html>
